#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 2%; 
    width: 95%;
    height: 50%; 
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

#rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}
#example1 {
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	 border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px; 
    width: 15%;
    height: 10%; 
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.text{
	
	 border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px; 
    width: 25%;
    height: 10%; 
	
	
}